body {
	background: #fff;
	color: #000;
	padding: 0px 0px 10px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	}

h1, h2, h3, h4, h5, p, ul, li, th, td, input, select, code, pre{
	margin:0; 
	padding:0;  
	font-family: Arial,Helvetica,sans-serif;
	}

h2 {
    background:#FFF url("../images/puce-h1.gif") 0 4px no-repeat;
    color: #333333;
    text-indent: 30px;
	font-size: 20px;
    font-weight: bold;
    line-height: 36px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 8px;
    }

#bodyColumn h1 {
    background:#FFF url("../images/puce-h1.gif") 0 4px no-repeat;
    color: #333333;
    text-indent: 30px;
	font-size: 20px;
    font-weight: bold;
    line-height: 36px;
	border-bottom: 1px solid #CCCCCC;
    }
#bodyColumn h1 img { display:none;}
h3 {
	background:#DEDEDE url("../images/nw_maj_rond.gif") top left no-repeat;
 	color: #333333;
	font-size: 13px;
	padding:10px 10px 6px 10px;
	border-bottom:1px solid #CCC;
 }


tt {
    font-family: monospace;
	color:#CF8300;
}


.a td {
 background: #ffffff;
 color: #000000;
 }

.b td {
 background: #efefef;
 color: #000;
 }

th {
 background-color: #79C14E;
 color: #fff;
 }

#home {
	background: url("../images/header-bg-index.jpg") repeat-x scroll 0 -140px transparent;
	text-align:center;
	min-height: 400px;
	}

#home h1 {
	color: #FFFFFF;
    font-family: "Century Gothic",Arial,sans-serif;
    font-size: 40px;
    line-height: normal;
    padding-top: 10px;
	line-height:100%;
	height:70px;
	}
#home h1 span {
	font-size:20px;}

#home img {
	margin:10px 30px 20px 0;
	}

#home .content img {
	margin:0px;}

#home #navcolumn th {
	background-color:transparent;
	text-align:center;
	}

#home #navcolumn th div{
	background:transparent url("../images/btn_menuG.png") top left no-repeat;
	line-height:34px;
	padding-left:7px;
	width:170px;
	margin:0 auto;
	}
	
#home #navcolumn th div a, #home #navcolumn th div strong{
	background:transparent url("../images/btn_menuD.png") top right no-repeat;
	line-height:34px;
	padding-left:7px;
	display:block;
	color:#333333;
	font-size:13px;
	padding-right:7px;
	}	

#home #navcolumn th div a:hover, #home #navcolumn th div a:focus {
	color:#006600 !important;
	}


#home .section {
	padding-top:20px;}
	
#home .content {
	text-align:left;
	padding:24px 0 24px 24px;}

.content table, .bodyTable {
	margin-bottom:20px;
	margin-top:20px;}

.content table td, .content table th , .bodyTable th , .bodyTable  td{
	font-size:13px;
	padding:5px;}
	
.content table td , .bodyTable  td{
	font-size:12px;
	border-bottom:1px solid #CCC;}

.download {
	background:transparent url("../images/package.png") top left no-repeat;
	padding-left:40px;
	line-height:40px;
	display:inline-block;
	}

div#banner {
	background:#DEDEDE url("../images/bg_header.jpg") top left no-repeat;
 }
	
#banner, #banner td {
 background: #006600;
 color: #fff;
 }

#leftColumn {
	width:212px;
}

#navcolumn {
	padding: 0px 4px 0 8px;
}

#navcolumn h5 {
    background: url("../images/sidebar-top.gif") no-repeat scroll center top transparent;
    font-size: 12px;
    font-weight: bold;
    line-height: 39px;
    text-indent: 12px;
    width: 200px;
	color:#525252;
}

#navcolumn ul {   
	background-color: #FFFFFF;
	border:1px solid #CCC;
	border-top:0;
    margin:0 0 10px 0;
    padding:0 5px;
    width: 188px;
	}
#navcolumn ul ul {
	 margin:0 0 10px 0;
	 width:auto;
	 border:0;
	}
	
#navcolumn ul li {
	margin:0;
	border-bottom: 1px solid #CCCCCC;
    font-size: 11px;
    list-style: none outside none;
    padding: 5px 0 5px 4px;
	}
#navcolumn ul li:last-child{
	border-bottom: 0px solid #CCCCCC;
	}

#navcolumn ul li strong {
	color:#8BC200;
	}
	
#navcolumn ul li a.externalLink, #navcolumn ul li a.externalLink:link,  #navcolumn ul li  a.externalLink:active ,
#navcolumn ul li a:link {
	color:#666;
	}

#navcolumn ul li a:visited,#navcolumn ul li a.externalLink:visited {
	color:#999;}

#breadcrumbs {
	background-color: #ECFFBF;
    border-bottom: 1px solid #8BC100;
	border-top: 1px solid #81C454;
	color: #333;
	line-height:24px;
	padding: 0px 0 0 8px;
	font-size:11px;
 }
 
#breadcrumbs .xright {
	background-color: #79C14E;
    color: #FFFFFF;
    padding: 2px 8px;
	}

#breadcrumbs .xleft {
    padding: 2px 8px;
	}

div#footer {
	background: url("../images/footer-bg.jpg") repeat-x scroll 0 0 #FCFCFC;
    clear: both;
    height: 90px;
    padding-top: 30px;
	color:#878787;
	}

div#footer img {
	border:1px solid #E3E3E3;
	margin-right:5px;}

.source , fieldset{
	background: none repeat scroll 0 0 #EBEFE0;
	border:0;
    border-left: 5px solid #8DC500;
    color: #000000;
 }

.source pre , fieldset pre{
	 margin:7px 0;
	 padding:0;
	 color: #000000;
 }

a[name]:hover, #leftColumn a[name]:hover {
 color: #9ED55E !important;
 }

a:link, #breadcrumbs a:visited, #navcolumn a:visited, .contentBox a:visited, .tasknav a:visited {
 color: #006600;
text-decoration: none;
 }

a:visited {
 color: #006600;
 text-decoration: none;
 }

a:active, a:hover, #leftColumn a:active, #leftColumn a:hover {
 color: #8CC400 !important;
 text-decoration: none;
 }

a:link.selfref, a:visited.selfref {
 color: #006600 !important;
 text-decoration: none;
 }

#legend li.externalLink {
  background: url(../images/external-classic.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active  {
  background: url(../images/external-classic.png) right center no-repeat;
  padding-right: 18px;
  color: #5B8F00;
}

a.externalLink:hover, a.externalLink:focus{
  background: url(../images/external-classic-hover.png) right center no-repeat;
}


#legend li.newWindow {
  background: url(../images/newwindow-classic.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow-classic.png) right center no-repeat;
  padding-right: 18px;
  color: #006600;
}



img.handle {
 border: 0;
 padding-right: 2px;
}

#navcolumn div div  {
 background-image: none;
 background-repeat: no-repeat;
}

#navcolumn div div {
  padding-left: 10px;
}

.functnbar, .functnbar2 {
  background-color: #aaa;
}

.functnbar2, .functnbar3 {
  background-color: #aaa;
  background-image: url(../images/sw_maj_rond.gif);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.functnbar3 {
  background-color: #ddd;
  background-image: url(../images/sw_med_rond.gif);
}

.functnbar, .functnbar2, .functnbar3 {
  color: #000;
}

.functnbar a, .functnbar2 a, .functnbar3 a {
  color: #000;
  text-decoration: underline;
}

#navcolumn .body div, body.docs #toc li li {
  background-image: url(../images/strich.gif);
  background-repeat: no-repeat;
  background-position: .5em .5em;
}

#searchbox .body div, #navcolumn .body .heading {
  background-image: none;
}

a:link.selfref, a:visited.selfref {
  text-decoration: none;
}

#leftColumn a, #breadcrumbs a {
  text-decoration: none;
}

/* Unsure of this. TODO */
.contentBox h2 a:link, .contentBox h2 a:visited, .contentBox h3 a:link, .contentBox h3 a:visited {
  color: #fff !important;
  text-decoration: underline;
}

table, th, td {
  border: none;
}

div.colbar {
  background: #eee;
  border-color: #999 #EEE #EEE #999;
  border-width: 1px;
  border-style: solid;
}

.toolgroup {
  background: #efefef;
}

.toolgroup .label {
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  background: #ddd;
  color: #555;
}

.toolgroup .body {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

#main {
  border-top: 1px solid #999;
}

#rightcol div.www, #rightcol div.help {
  border: 1px solid #ddd;
}

body.docs div.docs {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

#helptext .label {
  background-image: url(../images/icon_help_sml.gif);
  background-repeat: no-repeat;
  background-position: 97%;
}

body.docs {
  background: #eee url(../images/help_logo.gif) top right no-repeat !important;
}

.docs h2, .docs h3 {
  border-top: solid 1px #000;
}

#apphead h2 em {
  color: #777;
}

.tabs th {
  border-right: 1px solid #333;
  background-color: #ddd;
  color: #fff;
  border-left: 1px solid #fff;
}

.tabs td {
  background-color: #999;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.tabs {
  border-bottom: 6px #ddd solid;
}

.tabs th, .tabs th a:link, .tabs th a:visited {
  color: #555;
}

.tabs td, .tabs td a:link, .tabs td a:visited {
  color: #fff;
}

.tabs a {
  text-decoration: none;
}

.axial th {
  background-color: #ddd;
  color: black;
}

.alert {
  background-color: #ff9;
}

.expandedwaste {
  background: url(../images/icon_arrowwaste2_sml.gif) no-repeat;
}

.collapsedwaste {
  background: url(../images/icon_arrowwaste1_sml.gif) no-repeat;
}

.filebrowse .expanded, .filebrowse-alt .expanded {
  background-image: url(../images/icon_arrowfolderopen2_sml.gif);
  background-repeat: no-repeat;
}

.filebrowse .collapsed, .filebrowse-alt .collapsed {
  background-image: url(../images/icon_arrowfolderclosed1_sml.gif);
  background-repeat: no-repeat;
}

.filebrowse .leafnode, .filebrowse-alt .leafnode {
  background-image: url(../images/icon_folder_sml.gif);
  background-repeat: no-repeat;
}

.filebrowse .leaf, .filebrowse-alt .leaf {
  background-image: url(../images/icon_doc_sml.gif);
  background-repeat: no-repeat;
}

.sortup {
  background: url(../images/icon_sortup.gif) no-repeat;
}

.sortdown {
  background: url(../images/icon_sortdown.gif) no-repeat;
}

.collapsedwaste {
  background: url(../images/icon_arrowwaste1_sml.gif) no-repeat;
}

body .grid td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: transparent;
}

.confirm {
  color: #090;
}

.info {
  color: #069;
}

.errormessage, .warningmessage, .donemessage, .infomessage {
  border-top: 5px solid #900;
  border-left: 1px solid #900;
  background-image: url(../images/icon_error_lrg.gif);
  background-repeat: no-repeat;
  background-position: 5px 1.33em;
}

.warningmessage {
  background-image: url(../images/icon_warning_lrg.gif);
  border-color: #c60;
}

.donemessage {
  background-image: url(../images/icon_success_lrg.gif);
  border-color: #090;
}

.infomessage {
  background-image: url(../images/icon_info_lrg.gif);
  border-color: #069;
}

.docinfo {
  background: url(../images/icon_doc_lrg.gif) no-repeat;
}

.dirinfo {
  background: url(../images/icon_folder_lrg.gif) no-repeat;
}

.memberinfo {
  background: url(../images/icon_members_lrg.gif) no-repeat;
}

.usergroupinfo {
  background: url(../images/icon_usergroups_lrg.gif) no-repeat;
}

.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

.cvsdiff, .cvsblame {
  background-color: #ccc;
}

.cvsdiffadd {
  background-color: #afa;
}

.cvsdiffremove {
  background-color: #faa;
}

.cvsdiffchanges1 {
  background-color: #ff7;
}

.cvsdiffchanges2 {
  background-color: #ff7;
}

li.selection ul a {
  background: #fff;
}

.band1 {
  color: #fff;
  background-color: #663;
}

.band2 {
  color: #fff;
  background-color: #66C;
}

.band3 {
  background-color: #C99;
}

.band4 {
  background-color: #CFF;
}

.band5 {
  color: #fff;
  background-color: #336;
}

.band6 {
  color: #fff;
  background-color: #966;
}

.band7 {
  background-color: #9CC;
}

.band8 {
  background-color: #FFC;
}

.band9 {
  color: #fff;
  background-color: #633;
}

.band10 {
  color: #fff;
  background-color: #699;
}

.band11 {
  background-color: #CC9;
}

.band12 {
  background-color: #CCF;
}

.band13 {
  color: #fff;
  background-color: #366;
}

.band14 {
  color: #fff;
  background-color: #996;
}

.band15 {
  background-color: #99C;
}

.band16 {
  background-color: #FCC;
}

.contentBox .helplink, #helptext .helplink {
  cursor: help;
}

.legend th, .bars th {
  background-color: #fff;
}

/* font and text properties, exclusive of link indication, alignment, text-indent */

code, pre {
  font-family: monospace;
}

#apphead h2 small, th, td {
  font-size: small;
}

small, div#login, div.tabs th, div.tabs td, .paginate, .functnbar, .functnbar2, .functnbar3, .courtesylinks, #rightcol div.help, .colbar, .tasknav, body.docs div#toc,  .legend, .bars {
  voice-family: inherit;
  font-size: x-small;
}



.tabs td, .tabs th, dt, .tasknav .selfref, #login .username, .selection {
  font-weight: bold;
}

li.selection ul {
  font-weight: normal;
}

#apphead h2 em {
  font-style: normal;
}

#banner h1 {
  font-size: 1.25em;
}

/* box properties (exclusive of borders), positioning, alignments, list types, text-indent */
#bodyColumn h2 {
  margin-top: .3em;
  margin-bottom: .5em;
}

p, ul, ol, dl, .bars table, li {
	margin:.67em 0  .67em 2em;
}

form {
  margin: 0;
}

#bodyColumn {
  margin-right: 0;
  margin-top: 1em;
  padding-right: 12px;
  margin-left: 230px;
}

html>body #bodyColumn {
  width: auto;
}

.docs {
  line-height: 1.4;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

.contentBox td, .contentBox th {
  padding: 2px 3px;
}

.section p, .section p, .section dt, .section dt {
  margin-right: 7px;
  margin-left: 7px;
}

.tasknav {
  margin-bottom: 1.33em;
}

div.colbar {
  padding: 3px;
  margin: 2px 2px 0;
}

.tabs {
  margin-top: .67em;
  margin-right: 2px;
  margin-left: 2px;
  padding-left: 8px;
}

.tabs td, .tabs th {
  padding: 3px 9px;
}

#rightcol div.www, #rightcol div.help {
  padding: 0 .5em;
}

body.docs #toc {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 120px;
  padding: 0 20px 0 0;
}

body.docs #toc ul, #toc ol {
  margin-left: 0;
  padding-left: 0;
}

body.docs #toc li {
  margin-top: 7px;
  padding-left: 10px;
  list-style-type: none;
}

body.docs div.docs {
  margin: 61px 0 0 150px;
  padding: 1em 2em 1em 1em !important;
}

.docs p+p {
  text-indent: 5%;
  margin-top: -.67em;
}

.docs h2, .docs h3 {
  margin-bottom: .1em;
  padding-top: .3em;
}

.functnbar, .functnbar2, .functnbar3 {
  padding: 5px;
  margin: .67em 2px;
}

.functnbar3 {
  margin-top: 0;
}

body {
  padding: 1em;
}

body.composite, body.docs {
  margin: 0;
  padding: 0;
}

th, td {
  text-align: left;
  vertical-align: top;
}

.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.axial th, .axial th .strut {
  text-align: right;
}

.contentBox .axial td th {
  text-align: left;
}

body .stb {
  margin-top: 1em;
  text-indent: 0;
}

body .mtb {
  margin-top: 2em;
  text-indent: 0;
}

.courtesylinks {
  margin-top: 1em;
  padding-top: 1em;
}

dd {
  margin-bottom: .67em;
}

.toolgroup {
  margin-bottom: 6px;
}

.toolgroup .body {
  padding: 4px 4px 4px 0;
}

.toolgroup .label {
  padding: 4px;
}


.toolgroup .body div {
  padding-bottom: .3em;
  padding-left: 1em;
}

.toolgroup .body div div {
  margin-top: .3em;
  padding-bottom: 0;
}

.tier1 {
  margin-left: 0;
}

.tier2 {
  margin-left: 1.5em;
}

.tier3 {
  margin-left: 3em;
}

.tier4 {
  margin-left: 4.5em;
}

.tier5 {
  margin-left: 6em;
}

.tier6 {
  margin-left: 7.5em;
}

.tier7 {
  margin-left: 9em;
}

.tier8 {
  margin-left: 10.5em;
}

.tier9 {
  margin-left: 12em;
}

.tier10 {
  margin-left: 13.5em;
}

.filebrowse .expanded, .filebrowse .collapsed {
  padding-left: 34px;
}

.filebrowse .leafnode, .filebrowse .leaf {
  padding-left: 20px;
}

.messagechild {
  padding-left: 34px;
}

.filebrowse-alt .expanded, .filebrowse-alt .collapsed, .filebrowse-alt .leaf, .filebrowse-alt .leafnode, .expandedwaste, .collapsedwaste, .sortup, .sortdown {
  /* hide from macie5\*/
  float: left;
  /* resume */
  display: inline-block;
  height: 15px;
  width: 34px;
  padding-left: 0 !important;
}

.filebrowse-alt .leaf, .filebrowse-alt .leafnode, .sortup, .sortdown {
  width: 20px;
}

.filebrowse ul, .filebrowse-alt ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.filebrowse ul ul, .filebrowse-alt ul ul {
  margin-left: 1.5em;
  margin-top: 0;
  padding-top: .67em;
}

.filebrowse li, .filebrowse-alt li {
  margin-bottom: .67em;
}

td.filebrowse h2 {
  margin-top: 0;
}

.errormessage, .warningmessage, .donemessage, .infomessage, .docinfo, .dirinfo, .memberinfo, .usergroupinfo {
  margin: .67em 0;
  padding: .33em 0 .67em 42px;
  min-height: 32px;
}

.errormark, .warningmark, .donemark, .infomark {
  padding-left: 20px;
  min-height: 15px;
}

.alt {
  display: none;
}

#banner h1 {
  margin: 0;
}

.axial th, .axial th .strut, #leftColumn .strut {
  width: 12em;
}



.legend {
  float: right;
}

.legend th, .bars th {
  text-align: right;
  padding-left: 1em;
}

.bars table {
  table-layout: fixed;
}

.bars th {
  width: 12em;
}

#projectdocumentlist td.filebrowse-alt {
  padding-right: .75em;
}
#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}